html{
    height:100%;
}
body {
    background-color: rgb(206, 202, 196);
}

p {
    color:rgb(0, 0, 0);
    font-size: 20px;
}
.container {
    max-width: 1080px;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
}
.inline-container {
    display: inline-flex;
}

.row {
    flex-direction: row;
}

.corps {
    flex : 1 1 50px;
}
.menu {
    margin:50px;
}
#currentpage {
    color:rgb(44, 40, 40);
}
footer{
    background:#ffa4a4;
    text-align: center;
    font-style:italic;
}
.flottant {
    float:right;
}
body > table{
    width: 80%;
  }
  
  table{
    border-collapse: collapse;
  }
  table.list{
    width:100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
  }
  
  input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit]{
    width: 40%;
    background-color: #ddd;
    color: #000;
    padding: 2px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
  }
  
  label.validation-error{
    color:   red;
    margin-left: 5px;
  }
  
  .hide{
    display:none;
  }


  body{ 
    display:flex; 
    flex-direction:column; 
  }
  
  footer{
    margin-top:auto; 
  }

  #ind {

    background-color : #c0bdbd; 
  
  }
    #id {

    background-color : #c0bdbd; 
  
  }

  .menu {
    display: flex;
    padding:0;
    margin: 0;
    background-color: #ccc;
    justify-content: space-around;
}
.menu li {
    display: inline;
    list-style-type: none ;
  
}
.menu a {
    display:inline-block;
    min-width: 120px;
    
    margin: 0.5rem;
    padding: 0.4rem 0;
    text-align: center;
    background-color: #ffa4a4;
    color: #000;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 4px;
    transition: all 1s ;
}
.menu a#currentpage {    
    background-color: #000 ; 
    color: #ffa4a4 ;
    border-color: #ffa4a4 ;
}
.menu a:hover,
.menu a:hover#currentpage{
    background-color: #ffa4a4;
    color: #fff;
    border-color: #fff;
}

#sess{
  font-weight: bold;
}

.profil input[type=text], input[type=number] {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.profil input[type=submit]{
  width: 40%;
  background-color: #ddd;
  color: #000;
  padding: 2px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

div.form
{
    display: block;
    text-align: center;
}
.profil
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.bouton-du-form{
  text-align: center;
}