*{
    margin:0;
    padding:0;
}
body,html{
    height:100%;
}
body {
    background-color: rgb(206, 202, 196);
}

p {
    color:rgb(0, 0, 0);
    font-size: 20px;
}
.container {
    max-width: 1080px;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
}
.inline-container {
    display: inline-flex;
}

.row {
    flex-direction: row;
}

.corps {
    flex : 1 1 50px;
}
.menu {
    margin:50px;
}
#currentpage {
    color:rgb(44, 40, 40);
}
footer{
    background:#ffa4a4;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:50px;
    height:50px;
    text-align: center;
    font-style:italic;
}
.flottant {
    float:right;
}
body > table{
    width: 80%;
  }
  
  table{
    border-collapse: collapse;
  }
  table.list{
    width:100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
  }
  
  input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit]{
    width: 30%;
    background-color: #ddd;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form div.form-action-buttons{
    text-align: right;
  }
  
  a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
  }
  
  label.validation-error{
    color:   red;
    margin-left: 5px;
  }
  
  .hide{
    display:none;
  }
  form.apport  { display: table;      }
  form > p     { display: table-row;  }
  p > label { display: table-cell; }
  p > input { display: table-cell; }